<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Version 2.0 build rewrite" stopProcessing="true">
                    <match url="^(\d+)/(.+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="2.0.{R:1}/{R:2}" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <remove fileExtension=".ts" />
            <mimeMap fileExtension=".ts" mimeType="text/prs.typescript" />
        </staticContent>        
    </system.webServer>
</configuration>
