<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

            <remove fileExtension=".otf" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />

            <remove fileExtension=".mobileconfig" />
            <mimeMap fileExtension=".mobileconfig" mimeType="application/x-apple-aspen-config" />

            <remove fileExtension=".js" />
            <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="Deny Dockerfile, .htaccess" stopProcessing="true">
                    <match url="^(Dockerfile|.htaccess)$" />
                    <action type="CustomResponse" statusCode="404" statusReason="Not Found" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
